<div class="card shadow-sm h-100" *ngIf="!editable">
    <div class="card-body">
    <h5 class="card-title">{{titulo}}</h5>
    <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="descripcion" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>
</div>

<form action="" [formGroup]="form" *ngIf="editable">
    <div class="card shadow-sm h-100">
        <input type="text" id="titulo" formControlName="titulo" [value]="titulo">
        <input type="text" id="descripcion" formControlName="descripcion" [value]="descripcion">
        <button (click)="updateDB()">Actualizar</button>
        <button (click)="eliminarDB()">Eliminar</button>

    </div>
  </form>