<div class="card shadow-sm h-100" *ngIf="!editable">
    <div class="card-body">
    <h5 class="card-title">{{titulo}}</h5>
    <p class="card-text">{{descripcion}}</p>
    <a [href]="link" class="card-link">Ver {{titulo}} en github</a>
    </div>
</div>

<form action="" [formGroup]="form" *ngIf="editable">
    <div class="card shadow-sm h-100">
        <input type="text" id="titulo" formControlName="titulo" [value]="titulo">
        <input type="text" id="descripcion" formControlName="descripcion" [value]="descripcion">

        <label for="link">Link a github: </label>
        <input type="text" id="link" formControlName="link" [value]="link">
        <input type="submit" value="Actualizar" (click)="updateDB()">    
        <button (click)="eliminarDB()">Eliminar</button>
        </div>
  </form>