<section id="presentación">
    <div *ngIf="!editable">
        <h1>{{persona.nombre}}</h1>
        <p>{{persona.bio}}</p>
    </div>
    <form action="" *ngIf="editable" [formGroup]="form">
        <input type="text" name="nombre" id="nombre" [value]="persona.nombre" formControlName="nombre" placeholder="Nombre"><br>
        <input type="text" name="bio" id="bio" [value]="persona.bio" formControlName="bio" placeholder="Descripción"><br>
        <button (click)="updateDBInfo()">Actualizar</button>

    </form>
</section>