
form {
    width: 100%;
}

input, textarea{
    width: 100%;
    margin: 5px;
}

button {
    background-color: var(--color-primary);
    filter: brightness(190%) saturate(60%) hue-rotate(40deg);
    border-color: var(--color-primary);
}

button:hover{
    filter: brightness(180%) saturate(60%) hue-rotate(40deg);
}

#presentacion-texto {
    max-width: 100%;
}

@media (max-width:900px) {
    #presentacion-texto{
        text-align: center;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    h1{
        text-align: center;
    }
}
