<div class="card shadow-sm h-100" *ngIf="!editable">
  <img [src]="link" class="card-logo" alt="">
  <div class="card-body flex-shrink-1">
    <h5 class="card-title">{{titulo}}</h5>
    <p class="card-text">{{descripcion}}</p>
  </div>
</div>

<form action="" [formGroup]="form" *ngIf="editable" (change)="unsaved()">
  <div class="card shadow-sm h-100">
    <input type="text" class="card-text" id="link" formControlName="link" [value]="link" placeholder="Dirección local de la imagen (assets/...)">

    <input type="text" id="titulo" formControlName="titulo" [value]="titulo" placeholder="Titulo">
    <input type="text" id="descripcion" formControlName="descripcion" [value]="descripcion" placeholder="Descripción">

    <!-- <button (click)="updateDB()">Actualizar</button> -->

    <button (click)="eliminarDB()">Eliminar</button>

  </div>
</form>