<app-header
    [sections]="titles"
></app-header>
<main class="container fluid" (click)="toggleDropdown()">

    <app-persona></app-persona>

    <app-section *ngFor="let grupo of sections"
    [id] = "grupo.id"
    [titulo]="grupo.titulo"
    [tipo] ="grupo.tipo"
    [data]="grupo.data"
    (sendEliminar)="eliminarSeccion($event, grupo.data, grupo)"
    (sendActualizarTitulos)="setTitulos()"
    >
    </app-section>

    <app-add-section
    (sendNewSection)="addSection($event)"
    [titulos]="titles"
    ></app-add-section>
</main>

<app-footer></app-footer>