<app-header></app-header>

<main class="container fluid">

    <section id="presentación">
        <h1>{{persona.nombre}}</h1>
        <p>{{persona.bio}}</p>
    </section>

    <section *ngFor="let grupo of sections">
      <h2 [id]="grupo.titulo">{{grupo.titulo}}</h2>
      
      <div class="grid-container" [ngSwitch]="grupo.tipo">

        <div class="row row-cols-2 row-cols-sm-3 g-4" div *ngSwitchCase="'card'">
            <div class="col" *ngFor="let r of [].constructor(grupo.data.length); let i = index">
                <div class="card shadow-sm h-100">
                  <img [src]="grupo.data[i].link" class="card-logo" alt="">
                  <div class="card-body flex-shrink-1">
                    <h5 class="card-title">{{grupo.data[i].titulo}}</h5>
                    <p class="card-text">{{grupo.data[i].descripcion}}</p>
                  </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-2 row-cols-sm-3 g-4" div *ngSwitchCase="'progress-bar'">
            <div class="col" *ngFor="let r of [].constructor(grupo.data.length); let i = index">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                    <h5 class="card-title">{{grupo.data[i].titulo}}</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="grupo.data[i].descripcion" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-2 row-cols-sm-3 g-4" div *ngSwitchCase="'project'">
            <div class="col" *ngFor="let r of [].constructor(grupo.data.length); let i = index">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                    <h5 class="card-title">{{grupo.data[i].titulo}}</h5>
                    <p class="card-text">{{grupo.data[i].descripcion}}</p>
                    <a [href]="grupo.data[i].link" class="card-link">Ver {{grupo.data[i].titulo}} en github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>
</main>

<app-footer></app-footer>

<router-outlet></router-outlet>
