.required{
    color:red;
}

button{
    margin: 5px;
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
    border-color: var(--color-secondary);
}

button:hover{
    filter: brightness(95%);
}
