* {
    box-sizing: border-box;
    margin: 0;
    /*Colores*/
    --color-primary: #e25385;
    --color-on-primary: #ffffff;
    --color-secondary: #a8cdf7;
    --color-on-secondary: black;
}
header {
    position: static;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    padding: 7px 5px;
    align-items: center;
}

.nav {
    list-style: none;
    display: flex;
    column-gap: 7px;
    justify-content: flex-start;
    padding: 0;
}

.nav-link{
    color: var(--color-on-primary);
    text-decoration: .1px underline transparent;
    transition: text-decoration .5s;
}

.nav-link:hover {
    text-decoration: 2.5px underline var(--color-on-primary);
    color: var(--color-on-primary);
}


.nav-btn {
    border-radius: 10px;
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
    padding: 5px 10px;
    border: none;
    height:fit-content;
    text-decoration: none;
    margin: 5px;
    cursor:pointer;
}

.nav-btn:hover{
    color: var(--color-on-secondary);
    filter: brightness(110%);
    transition: filter 0.3s;
}

h1, h2 {
    text-shadow: 2px 2px var(--color-secondary);
    /* color: var(--color-secondary); */
    width: fit-content;
}

.dropdown-btn {
    display: none;
}

.card-logo {
    width: 200px;
    margin: auto auto;
}

#bootstrap-overrides .grid-container .row{
    grid-template-rows: max-content;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    text-align: center;
    padding: 10px;
}

section:first-of-type {
    margin: 20px 0;
}

section+section {
    margin: 50px 0;
}

#guardando-notif{
    position: absolute;
    top: 4em;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.ver{
    animation: 1s mi-fade-out 2s;
}

.no-ver{
    opacity: 0%;
}

@keyframes mi-fade-out {
    from{
        opacity: 100%;
    }

    to{
        opacity: 0%;
    }

}

@media (max-width:900px) {
    .card {
        z-index: -1;
    }

    header {
        position: sticky;
        top: 0;
        left: 0;
    }

    .dropdown-visible{
        display: block;
    }

    .dropdown-invisible{
        display: none;
    }

    .nav{
        background-color: var(--color-primary);
        position: absolute;
        top: 3.5em;
        flex-direction: column;
        border: 1px solid var(--color-on-primary);
        z-index: 100000;
        text-decoration: none;
        transition: text-decoration 0s;
    }

    .nav-link{
        text-decoration: none;
        transition: text-decoration 0s;
    }

    .nav-link:hover {
        background-color: var(--color-on-primary);
        color: var(--color-primary);
        text-decoration: none;
        border: 1px solid var(--color-primary);
        transition: text-decoration 0s;
    }

    .dropdown-btn{
        display: block;
    }
}