body{
    width: 100%;
    height: 100vh;
}
form{
    width: fit-content;
    height: fit-content;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10%;
}
.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0;
    background-color: rgb(181, 148, 88);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;;
}

.required {
    border: 1px solid red;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: px;
}

.form-input {
    padding: 10px 0;
}

.enviar{
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}

.desactivado{
    filter: grayscale(50%);
}

.error{
    color: red;
}